.area {
    margin-top: 5%;
}

.listComponent {
    margin-top: 2%;
}

.textListComponent {
    margin-bottom: 0;
}

.pricing {
    text-align: right;
    font-size: 20px;
}

.pricing2 {
    vertical-align: middle;
    font-size: 20px;
}

.alignRight {
    text-align: right;
}

.contentCenter {
    text-align: center;
}

.createFieldText {
    margin-right: 10%;
}

.createFiledParts {
    margin-bottom: 5%;
}
